.site-title {
    border: 1px solid #eaeaea;
}

html {
    background-color: aqua;
}

.shopping-cart {
    background-color: greenyellow;
}

.add-button, .remove-button {
    background-color: grey;
    border-radius: 50px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
}

.sizes {
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 35%;
}

.size-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}